{% extends 'base.html' %}

{% block title %}About Me {% endblock title %}

{% block body %}
<blockquote class="blockquote text-center my-2 px-0"><h1>This is a simple implementation of deploying multiple machine learning models for my own learning's sake.</h1></blockquote>

<blockquote class="blockquote text-center">
    <p class="mb-0" style="font-size:xx-large;">My name is Prashant Sharma.
      I did my B.Tech, majored in Electrical and Electronics and studied Big Data Analytics as a subject in my graduation course. Now, I find myself learning how to deploy machine learning models because I feel like I have found
      my short term goal. My short term goal is to become a data scientist/analyst. I am learning effective usage of DBMS, Machine Learning, Statistics and business intelligence tool Tableau. Things haven't been easy. But, I hope that I will eventually overcome the hurdles I am facing
      and all this will be worth it.
    </p>
</blockquote>

<blockquote class="blockquote text-center">
    <p class="mb-0" style="font-size:xx-large;">
        <a class="btn btn-primary" href="https://public.tableau.com/profile/prashant.sharma3272#!/" role="button">Check my Tableau Public Profile here</a>
    </p>
</blockquote>

<blockquote class="blockquote text-center">
    <p class="mb-0" style="font-size:xx-large;">
        <a class="btn btn-primary" href="https://www.linkedin.com/in/prashant-sharma-5a45b9181/" role="button">Connect with me on Linkedin here</a>
    </p>
</blockquote>

{% endblock body %}