{% extends 'base.html' %}

{% block title %}Sentiment Analysis {% endblock title %}

{% block body %}

    <h3>Let's predict the sentiment of your text</h3>
    <form method="POST" enctype="multipart/form-data" action="prediction4">
{% csrf_token %}
    <div class="form-group">
        <label for="prediction4">Enter your text as if you were writing a phone review</label>
        <input type="text" class="form-control" id="prediction4" placeholder="Example: This product was bad" name="prediction4">
    </div>
    <div class="container my-2 px-0">
        <button type="Submit" class="btn btn-primary">Submit</button>
    </div>
    </form>

{% if score %}
<h2>The predicted salary is {{score}}</h2>
{% endif %}
{% endblock body %}